<html ng-app="Social">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href='node_modules/bootstrap/dist/css/bootstrap.min.css'></link>
    <link rel="stylesheet" href='app/css/main.css'>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
    <div class="container">
      <div style="padding-top:10px" ng-show="!loggedin">
        <input type="text" ng-model='login.email'>
        <input type="password" ng-model='login.password'>
          <button ng-click="loginUserIn()">Login</button>
          <a ui-sref="signUp">Create an Account</a>
      </div>
      <div style="padding-top:10px" ng-show="loggedin">
        <a ui-sref='editProfile'>Edit Profile</a>
      </div>
    </div>
  </nav>

    <div ui-view></div>
  </body>
    <!-- Libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src='node_modules/ng-file-upload/dist/ng-file-upload.min.js'></script>
    <script src='node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js'></script>
    <!-- Controllers -->
    <script src="app/app.js"></script>
    <script src='app/signup/signup-controller.js'></script>
    <script src='app/navigation/navigation-controller.js'></script>
    <script src='app/profile/edit-profile-controller.js'></script>



</html>
