<div class="row">
  <div class='col-lg-6 col-lg-offset-3'>
    <div class='row'>
      <label for="email" class="label">Email</label>
        <input type="email" class="form-control" ng-model="user.email" id="email">
    </div>
    <div class='row'>
      <label for="password" class="label">Email</label>
        <input type="password" class="form-control" ng-model="user.password" id="password">
    </div>
    <button class="btn btn-primary" ng-click="createUser()">Enter</button>
  </div>
</div>
